.slider2 {
    /* height: 250px; */
    margin: auto;
    position: relative;
    /* width: 90%; */
    display: grid;
    place-items: center;
    overflow: hidden;

}

.slide-track2 {
    display: flex;
    width: calc(250px * 12);
    animation: scroll 40s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.slide2 {
    /* height: 170px;
    width: 250px; */
    display: flex;
    align-items: center;
    /* padding: 0 12px; */
    perspective: 100px;
}

.mainBox2 {
    width: 100%;
    height: 100%;
    /* transition: transform 1%; */
    transition: transform 0.4s;
}

.mainBox2:hover {
    transform: translateZ(10px);
}

.slide-track2:hover {
    animation-play-state: paused;
}